.loading {
    margin-top: 7em;
}

.fullScreenLoader {
    position: fixed;
    z-index: 999;
    height: 2em;
    width: 2em;
    margin-right: 3em;
    margin-bottom: 3em;
    overflow: show;
    bottom: 0;
    right: 0;
}

.spinner-border {
    width: 3rem;
    height: 3rem;
}
